extends layout
block content
  //Başlık bölümündeki bilgileri ayarlaya
  #banner.page-header
    //satır oluştur
    .row
      .col-lg-6
        h1
          |Mekan32
          small &nbsp;Isparta civarındaki mekanları keşfedin!
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Starbucks
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 10km
           p.address Centrum Garden AVM
           p
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Kekler
              | &nbsp;
              span.label.label-warning Pastalar
              | &nbsp;            
    .col-xs-12.col-sm-4

  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın  
    .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Burger King
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
           span.badge.pull-right.badge-default 10km
           p.address Centrum Garden AVM
           p
              span.label.label-warning Hamburger
              | &nbsp;
              span.label.label-warning Soğuk İçecekler
              | &nbsp;
              span.label.label-warning Tatlılar
              | &nbsp;            
    .col-xs-12.col-sm-4

  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın  
    .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Lodos Cafe
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
           span.badge.pull-right.badge-default 11km
           p.address Centrum Garden AVM
           p
              span.label.label-warning Nargile
              | &nbsp;
              span.label.label-warning Soğuk İçecek
              | &nbsp;
              span.label.label-warning Tatlı
              | &nbsp;            
    .col-xs-12.col-sm-4

  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın  
    .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Baba Lokantası
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 18km
           p.address İyaş Park AVM
           p
              span.label.label-warning Ev Yemekleri
              | &nbsp;
              span.label.label-warning Izgaralar
              | &nbsp;
              span.label.label-warning Pide Lahmacun
              | &nbsp;            
    .col-xs-12.col-sm-4

  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın  
    .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Serap Cafe
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
           span.badge.pull-right.badge-default 18km
           p.address İyaş Park AVM
           p
              span.label.label-warning Manav Serpme Kahvaltı
              | &nbsp;
              span.label.label-warning Datça Badem Kahvesi
              | &nbsp;
              span.label.label-warning Yiyecek Grubu
              | &nbsp;            
    .col-xs-12.col-sm-4
    

    